@model MVC.ViewModels.CrearTableroViewModel

<div>
    <div class="text-center">
                <h1 class="h3 mb-3 fw-normal">Crear mi tablero</h1>
    </div>
    <form asp-controller="Tablero" asp-action="Create">
        
        <input hidden asp-for ="@Model.Id_usuario_propietario" value="@Convert.ToInt32(Context.Session.GetString("Id"))"> 

        <div class="form-group">
            <label asp-for="@Model.Nombre">Nombre del Tablero</label>
            <input asp-for="@Model.Nombre" class="form-control" />
            <span asp-validation-for="@Model.Nombre" class="text-danger"></span>     
        </div>
        <div class="form-group">
            <label asp-for="@Model.Descripcion">Descripcion del Tablero</label>
            <input asp-for="@Model.Descripcion" class="form-control" />
            <span asp-validation-for="@Model.Descripcion" class="text-danger"></span> 
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
@section Scripts{<partial name="_ValidationScriptsPartial"/>}
