
@model MVC.ViewModels.ListarTableroViewModel

<h2>Lista Tableros</h2>

<table class= "table">
    <thead>
        <tr>
            <th hidden>ID</th> <!-- oculto el id--->
            <th>Tablero</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tablero in Model.TablerosViewModels)
        {
            <tr>
                <td hidden>@tablero.Id</td>
                <td>@tablero.Nombre</td>
                <td>@tablero.Descripcion</td>
                <td>
                    
                        <a asp-controller="Tablero" asp-action="Update" asp-route-id="@tablero.Id" class="btn btn-primary">Modificar</a>
                    
                        <a asp-controller="Tablero" asp-action="Delete" asp-route-id="@tablero.Id" class="btn btn-primary" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>  
                    
                   
                        <a asp-controller="Tarea" asp-action="Listar" asp-route-id="@tablero.Id" class="btn btn-primary" >Tarea</a>
                    
                </td>
            </tr>
        }
        <tr>
            
                <a asp-controller="Tablero" asp-action="Create" class="btn btn-primary">Crear tablero</a>  

        </tr>
    </tbody>
</table>
@if(@Model.Operador == "operador")
{
<h5 id = "table-doble">Tableros con tareas asignadas</h5>
<table class= "table">
    <thead>
        <tr>
            <th hidden>ID</th> <!-- oculto el id--->
            <th>Tablero</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tablero in Model.MyTablerosViewModels)
        {
            <tr>
                <td hidden>@tablero.Id</td>
                <td>@tablero.Nombre</td>
                <td>@tablero.Descripcion</td>
                <td>
                    
                        <a asp-controller="Tablero" asp-action="Update" asp-route-id="@tablero.Id" class="btn btn-primary">Modificar</a>
                    
                        <a asp-controller="Tablero" asp-action="Delete" asp-route-id="@tablero.Id" class="btn btn-primary" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>  
                    
                   
                        <a asp-controller="Tarea" asp-action="Listar" asp-route-id="@tablero.Id_usuario_propietario" class="btn btn-primary" >Tarea</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
}