@{
    ViewData["Title"] = "Home Page"; // titulo de la pestaña
}

@model MVC.ViewModels.ListarTableroViewModel

<h2>Lista Tableros</h2>

<table>
    <thead>
        <tr>
            <th hidden>ID</th> <!-- oculto el id--->
            <th>Tablero</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tablero in Model.TablerosViewModels)
        {
            <tr>
                <td hidden>@tablero.Id</td>
                <td>@tablero.Nombre</td>
                <td>@tablero.Descripcion</td>
                <td>
                    <button>
                        <a asp-controller="Tablero" asp-action="Update" asp-route-id="@tablero.Id">Modificar</a>
                    </button>
                    <button>
                        <a asp-controller="Tablero" asp-action="Delete" asp-route-id="@tablero.Id" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>  
                    </button>
                    <button>
                        <a asp-controller="Tarea" asp-action="Listar" asp-route-id="@tablero.Id">Tarea</a>
                    </button>
                </td>
            </tr>
        }
        <tr>
            <button>
                <a asp-controller="Tablero" asp-action="Create">Crear tablero</a>  
            </button>
        </tr>
    </tbody>
</table>