@model MVC.ViewModels.TableroViewModel

<form asp-controller="Tablero" asp-action="Update">
    <input hidden asp-for="@Model.Id"> 
    <div class="form-group">
        <label asp-for="@Model.Id_usuario_propietario">Ingrese el nuevo id usuario</label>
        <input asp-for="@Model.Id_usuario_propietario" class="form-control"/>
        <label asp-for="@Model.Nombre">Ingrese el nuevo Nombre</label>
        <input asp-for="@Model.Nombre" class="form-control"/>
        <label asp-for="@Model.Descripcion">Ingrese la nueva Descripcion</label>
        <input asp-for="@Model.Descripcion" class="form-control"/>
    </div>

    <button type="submit">Enviar</button>
</form>