
@model MVC.ViewModels.ListarTareaViewModel
<div>
        <h4>
             @Model.NombreTablero
        </h4>
        <h4>
            Usuario propietario : @Model.UsuarioPropietario
        </h4>
    <table class = "table">
        <thead>
            <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Color</th>
                    <th>Usuario asignado</th>
                    <th>Estado</th>
                    <th></th>
                    <th hidden>ID</th> <!-- oculto el id--->
                    <th hidden>Id tablero</th>
                    <th hidden></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tarea in Model.TareasVM)
            {
                <tr>
                    <td></td>
                        <td>@tarea.Nombre</td>
                        <td>@tarea.Descripcion</td>
                        <td>@tarea.Color</td>
                        <td>@tarea.NombreUsuarioAsignado</td>
                        <td>@tarea.Estado</td>
                   @if(Context.Session.GetString("Tipo") == "admin" || Convert.ToInt32(Context.Session.GetString("Id")) == tarea.IdUsuarioAsignado)
                    {
                    <td>
                            <a asp-controller="Tarea" asp-action="Update" asp-route-id="@tarea.Id" class="btn btn-primary">Modificar</a>

                            <a asp-controller="Tarea" asp-action="Delete" asp-route-id="@tarea.Id" class="btn btn-primary" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>  
                    </td>
                    }
                    <td hidden>@tarea.Id</td>
                    <td hidden>@tarea.Id_tablero</td>
                    <td hidden>@tarea.Estado</td>
                </tr>
            }
            <tr>
                    <a asp-controller="Tarea" asp-action="Create" asp-route-id="@Model.Id_tablero" class="btn btn-primary">Crear tarea</a>  
            </tr>
        </tbody>
    </table>
</div>