
@model MVC.ViewModels.ListarTareaViewModel
<div>
    <div>
        <h2>Lista Tarea</h2>
    </div>
    <table class = "table">
        <thead>
            <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Color</th>
                    <th>Usuario asignado</th>
                    <th>Estado</th>
                    <th></th>
                    <th hidden>ID</th> <!-- oculto el id--->
                    <th hidden>Id tablero</th>
                    <th hidden></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tarea in Model.TareasVM)
            {
                <tr>
                    <td></td>
                        <td>@tarea.Nombre</td>
                        <td>@tarea.Descripcion</td>
                        <td>
                            <i class="bi bi-droplet-fill" style="color: @tarea.Color"></i>
                        </td>
                        <td>@tarea.NombreUsuarioAsignado</td>
                        <td>
                            <form id="cambiarEstadoForm_@tarea.Id" asp-controller="Tarea" asp-action="UpdateEstado">
                                <input type="hidden" name="idTablero" value="@tarea.Id_tablero">
                                <input type="hidden" name="id" value="@tarea.Id" />
                                <div class="input-group">
                                    <select asp-for="@tarea.Estado" class="form-select form-control" asp-items="@Html.GetEnumSelectList<EstadoTarea>()" name="estado" onchange="enviarFormulario('cambiarEstadoForm_@tarea.Id')">
                                    </select>
                                </div>
                            </form>
                        </td>
                    @if(Context.Session.GetString("Tipo") == "admin" || Convert.ToInt32(Context.Session.GetString("Id")) == @tarea.IdUsuarioAsignado)
                    {
                    <td>
                            <a asp-controller="Tarea" asp-action="Update" asp-route-id="@tarea.Id" class="btn btn-primary">Modificar</a>

                            <a asp-controller="Tarea" asp-action="Delete" asp-route-id="@tarea.Id" class="btn btn-primary" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>  
                    </td>
                    }
                    <td hidden>@tarea.Id</td>
                    <td hidden>@tarea.Id_tablero</td>
                    <td hidden>@tarea.Estado</td>
                </tr>
            }
            <tr>
                    <a asp-controller="Tarea" asp-action="Create" asp-route-id="@Model.Id_tablero" class="btn btn-primary">Crear tarea</a>  
            </tr>
        </tbody>
    </table>
</div>