@model MVC.ViewModels.ListarMiTareaViewModel

<div class="card-header text-center">
        <h2>
             Lista Mis Tareas
        </h2>
        <h4>
            Usuario propietario : @Model.NombreUsuarioAsignado
        </h4>
    </div>

<table class = "table">
    <thead>
        <tr>
            <th hidden>ID Tablero</th>
            <th>Nombre del Tablero</th>
            <th hidden>ID</th> <!-- oculto el id--->
            <th>Tarea</th>
            <th>Descripcion</th>
            <th>Color</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model.TareasVM)
        {
            <tr>
                <td hidden>@tarea.Id_tablero</td>
                <td>@tarea.NombreTablero</td>
                <td hidden>@tarea.Id</td>
                <td>@tarea.Nombre</td>
                <td>@tarea.Descripcion</td>
                <td>@tarea.Color</td>
                <td>@tarea.Estado</td>
                @if(Context.Session.GetString("Tipo") == "admin" || Convert.ToInt32(Context.Session.GetString("Id")) == tarea.IdUsuarioAsignado)
                    {
                    <td>
                            <a asp-controller="Tarea" asp-action="UpdateMyTarea" asp-route-id="@tarea.Id" class="btn btn-primary">Modificar</a>

                            <a asp-controller="Tarea" asp-action="Delete" asp-route-id="@tarea.Id" class="btn btn-primary" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>  
                    </td>
                    }
            </tr>
        }
    </tbody>
</table>