@model MVC.ViewModels.CrearUsuarioViewModel


<form asp-controller="Usuario" asp-action="Create">
    <div class="form-group">
        <label asp-for="@Model.NombreUsuario">Nombre del Usuario</label>
        <input asp-for="@Model.NombreUsuario" class="form-control" />
        <span asp-validation-for="@Model.NombreUsuario" class="text-danger"></span> 
    </div>
    <div class="form-group">
        <label asp-for="@Model.Contrasenia">Contraseña</label>
        <input type = "password" asp-for="@Model.Contrasenia" class="form-control" />
        <span asp-validation-for="@Model.Contrasenia" class="text-danger"></span> 
    </div>
    <div class="form-group">
        <label asp-for="@Model.Tipo">Tipo</label>
        <input asp-for="@Model.Tipo" class="form-control" />
        <span asp-validation-for="@Model.Tipo" class="text-danger"></span> 
     </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>