@model MVC.ViewModels.ActualizarUsuarioViewModel
@using tl2_tp10_2023_William24A.Models;
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
<div>
    <div class="card-header text-center">
            <h1 class="h3 mb-3 fw-normal">Modificar usuario</h1>
    </div>
    <form asp-controller="Usuario" asp-action="Update">
        <input hidden asp-for="@Model.Id"> 
        <div class="mb-4">
            <div class="input-group">
            <label asp-for="@Model.NombreUsuario" class="input-group-text">Ingrese el nuevo nombre de usuario</label>
            <input asp-for="@Model.NombreUsuario" class="form-control"/>
            </div>
            <span asp-validation-for="@Model.NombreUsuario" class="text-danger"></span> 
        </div>
        @if(Context.Session.GetString("Id") != @Model.Id.ToString()) 
            {
                <div class="mb-4">
                    <div class="input-group">
                        <label asp-for="@Model.Tipo" class="input-group-text" id="basic-addon1"></label>
                        <select asp-for="@Model.Tipo" class="form-select"  class="form-control" asp-items="@Html.GetEnumSelectList<Tipo>()"></select>
                    </div>
                    <span asp-validation-for="@Model.Tipo" class="text-danger"></span>
                </div>
            }else{
                <input hidden asp-for="@Model.Tipo"> 
            }
        <div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>
@section Scripts{<partial name="_ValidationScriptsPartial"/>}